Chatbot Appointment Scheduler With Google Calendar Telegram.json
{
  "name": "Chatbot Appointment Scheduler With Google Calendar Telegram",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "🎯 Role of the Assistant\nYou are an AI assistant helping Dr. Pulin manage patient consultations.\n\n🕒 Office Hours\nMon–Fri: 9:00 AM – 8:00 PM\nSat: 9:00 AM – 1:00 PM\nSun: Closed\nEach consultation = 1 hour + 15 min break.\n\n📅 Booking Logic\n1️⃣ Ask for Full Name, Phone Number, and Preferred Date/Time.  \n2️⃣ Use **Google Calendar Tool (Check & Create)** to verify if the requested slot is available.  \n3️⃣ If unavailable, suggest the next free slot between 9 AM–8 PM (respecting breaks).  \n4️⃣ Ask: “Would you like to confirm this appointment?”  \n5️⃣ When the user replies “yes” or “confirm”:  \n   • Call **Google Calendar Tool (Check & Create)** with `create` operation.  \n   • Call **Google Sheets Tool (Append Confirmed)** to log details.  \n6️⃣ Send a Telegram confirmation message with ✅ and 📅 emojis.\n\n🧭 Rules\n- Do not confirm automatically.  \n- Confirm only after explicit “yes” or “confirm”.  \n- Be polite and professional in tone.  \n- Keep Calendar and Sheets synchronized after every booking.\n\n📅 Today's date: {{ $now }}\n"
        }
      },
      "id": "19a26318-2df0-4a15-8cac-6753cc9c6e36",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        720,
        224
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 1000,
          "temperature": 0.7
        }
      },
      "id": "82557f2d-80ea-4580-9fc3-aef0d2c7cba1",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        656,
        448
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "Rd4owr6B746AkBbZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}",
        "contextWindowLength": 6
      },
      "id": "d4b547ce-2fc8-47b6-a8ae-a7fd3d634c17",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        800,
        448
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "**AI Agent 👇**\nThe Prompt is already there, You just need to setup the prompt user message with your text message.",
        "height": 141,
        "width": 194,
        "color": 7
      },
      "id": "27b3d737-453a-4ec2-b6c5-dcb776f9ef53",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        752,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Chat Model ☝️**\nAdd your Open Ai API Key ",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "id": "5647cb6d-4954-46fb-82b2-9bff53f4040f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Gpoogle Calendar ☝️**\nConnect to Google Calendar",
        "height": 80,
        "width": 190,
        "color": 7
      },
      "id": "74651346-eb34-4f76-9b1b-68d6b001cbbe",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Google Sheets ☝️**\nConnect to Google Sheets",
        "height": 80,
        "width": 190,
        "color": 7
      },
      "id": "35ee5213-9e57-4379-af3b-946223c7ec5c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "**Memory ☝️**\nAdd the Session ID ",
        "height": 80,
        "width": 150,
        "color": 7
      },
      "id": "87574538-766f-46d0-bcca-134c275b4347",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        768,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        336,
        224
      ],
      "id": "893a0640-9e6c-4d93-becc-d8888599a55d",
      "name": "Telegram Trigger",
      "webhookId": "8589e1c5-276a-4c2d-aca5-1c65b2296685",
      "credentials": {
        "telegramApi": {
          "id": "mWN0ZZCtI3n0xATa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10RA4YBFGd2m1oTdQCy7MRYPf0W_fOwom7A9Ji5AXVhA",
          "mode": "list",
          "cachedResultName": "Appointment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RA4YBFGd2m1oTdQCy7MRYPf0W_fOwom7A9Ji5AXVhA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RA4YBFGd2m1oTdQCy7MRYPf0W_fOwom7A9Ji5AXVhA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}",
            "Time ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Time_', ``, 'string') }}",
            "Number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Number', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time ",
              "displayName": "Time ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fab882a7-6db4-43e8-aff5-d5db6e55e254",
      "name": "Google Sheets Tool (Append Confirmed)",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1232,
        448
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hA0auzGQHEBO64Ci",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json[\"message\"][\"chat\"][\"id\"] }}\n",
        "text": "={{ $json[\"output\"] || \"No reply generated by AI\" }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        224
      ],
      "id": "864ea109-4f18-445a-8cd3-de7f625f18a1",
      "name": "Telegram Send Message (AI Integrated)",
      "webhookId": "7b34f67a-70d5-4461-bc03-ce838bd0a6b0",
      "credentials": {
        "telegramApi": {
          "id": "mWN0ZZCtI3n0xATa",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "pulin2411@gmail.com",
          "mode": "list",
          "cachedResultName": "pulin2411@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "id": "6666d111-ded9-4e09-aae4-e28896ed34fd",
      "name": "Google Calendar Tool (Check & Create)",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        944,
        464
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rm9dDVqXSmf6SZpy",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "pulin2411@gmail.com",
          "mode": "list",
          "cachedResultName": "pulin2411@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "id": "ae321d5c-96f7-4bb1-a798-79dd96da76eb",
      "name": "Google Calendar Tool (Check & Create)1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        1088,
        448
      ],
      "typeVersion": 1.3,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rm9dDVqXSmf6SZpy",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Send Message (AI Integrated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Tool (Append Confirmed)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Tool (Check & Create)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Tool (Check & Create)1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "4583e4db-f244-493c-8746-0f28fea45085",
  "meta": {
    "templateId": "3131",
    "templateCredsSetupCompleted": true,
    "instanceId": "9107766a7fb6a101b38879ab77fe086a2d1cea32c979121a6c0ec015adb8cc58"
  },
  "id": "I8juVNWBfzncMGbK",
  "tags": []
}